<h1>パスワードの再設定</h1>

<p>以下のリンクからパスワードの再設定を行なって下さい。</p>

<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>リンクは2時間で期限切れとなります。</p>

<p>
※このメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。<br>
※このメールに心当たりのない場合は、このまま削除してください。
</p>