@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  margin-top: 100px;
  background-color: #efefef;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.center {
  margin-top: 30px;
  text-align: center;
  height: 500px;
  background-color: rgba(0,0,0,0.6)
}

.center img {
  margin-bottom: 10px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.center a {
  margin-top: 100px;
}

.top_page {
  height: 500px;
  background: url(/images/Foodol_toppage.jpg);
  background-size: cover;
}

.col-md-6 img {
  padding: 30px 0;
}

.col-md-6, .col-md-8 {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-md-8 {
  min-height: 600px;
}

.clear {
  clear: left;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header {
  height: 80px;
  line-height: 80px;
}

.navbar-nav {
  font-size: 18px;
}

.navbar-right {
  padding-top: 15px;
}

.navbar-inverse {
  background-color: #001e43;
}

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
}

/* footer */

footer {
  height: 200px;
  margin-top: 45px;
  padding-top: 45px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    h1 {
      font-size: 24px;
      margin-bottom: 15px;
      img {
        margin-right: 15px;
      }
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      img {
        border-radius: 50px;
      }
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

.user_avatar {
  border-radius: 50px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.edit_user {
  padding: 20px 10px;
}

.pfc_field {
  width: 25%;
}

/* foodposts */

.food_info {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.foodpost {
  overflow: hidden;
  padding-left: 20px;
  .edit_or_delete_link {
    margin: 0 5px;
  }
  .foodpost-left {
    display: inline-block;
    float: left;
    width: 50%;
  }
  
  .foodpost-right {
    display: inline-block;
    float: right;
    width: 50%;
    .foodpost-content {
      margin-left: 0;
      .foodpost-content-textarea {
        resize: none;
        outline: 0;
        overflow: auto;
        margin-top: 40px;
      }
    }
  }
}

.foodposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-left: 20px;
    padding-top: 0;
  }
  
  .user_image {
    margin-right: 20px;
    border-radius: 17.5px;
  }
  
  .user_name {
    color: black;
    font-size: 16px;
  }
  
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: inline-block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.form-padding {
  padding: 40px 80px;
}

.set-padding-top {
  padding-top: 20px;
}

.btn-follow {
  margin-top: 20px;
}

.users li {
  list-style-type: none;
}

.application-introduction {
  font-size: 12px;
  height: 450px;
  background-color: white;
  text-align: center;
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #001e43;
    font-size: 32px;
    font-weight: bold;
  }
  h3 {
    margin: 12px 0;
  }
  .sign-up {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}